RemoteDeviceController/RemoteDeviceControllerForWindows/Service References/NATTraversalServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://coocis.net/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://coocis.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://coocis.net/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="IService_RequestServerNames_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestServerNames" />
  </wsdl:message>
  <wsdl:message name="IService_RequestServerNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestServerNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RequestServerAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestServerAddresses" />
  </wsdl:message>
  <wsdl:message name="IService_RequestServerAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestServerAddressesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SignIn" message="tns:IService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SignInResponse" message="tns:IService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SignOut" message="tns:IService_SignOut_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestServerNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RequestServerNames" message="tns:IService_RequestServerNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RequestServerNamesResponse" message="tns:IService_RequestServerNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestServerAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RequestServerAddresses" message="tns:IService_RequestServerAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RequestServerAddressesResponse" message="tns:IService_RequestServerAddresses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap:operation soapAction="http://tempuri.org/IService/SignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RequestServerNames">
      <soap:operation soapAction="http://tempuri.org/IService/RequestServerNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestServerAddresses">
      <soap:operation soapAction="http://tempuri.org/IService/RequestServerAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap:operation soapAction="http://tempuri.org/IService/SignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RequestServerNames">
      <soap:operation soapAction="http://tempuri.org/IService/RequestServerNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestServerAddresses">
      <soap:operation soapAction="http://tempuri.org/IService/RequestServerAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://coocis.net/Service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService" binding="tns:BasicHttpsBinding_IService">
      <soap:address location="https://coocis.net/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>